@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-color: burlywood;">
    <h1 style="text-align: center;">Title</h1>
    <p style="text-align: center;">Text</p>
</div>
<hr class="new1" />
<h1>Featured Vehicles</h1>
<div class="featured-flex">
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
    <div class="border-mine">Car</div>
</div>