@model CarSiteSecond.Models.Responses.SpecialResponse
@{
    ViewBag.Title = "Specials";
}

<h1>Specials</h1>
<div id="specials-container">
    @foreach (CarSiteSecond.Models.DTOs.Special s in Model.Specials)
    {
        <div id="special-@s.id" class="border-mine">
            <table>
                <tr>
                    <td rowspan="2"><img src="~/Content/Pictures/dollarsign.png" /></td>
                    <td class="bold left-text">@s.Title</td>
                </tr>
                <tr>
                    <td class="left-text">@s.Text</td>
                </tr>
            </table>
        </div>
    }
</div>