body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

    .flex-container > span {
        margin-right: 10px;
        padding-right: 18px;
        padding-left: 10px;
        position: relative;
        height: 50%;
        /*top: 50%;*/
        /*-ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }

        .flex-container > span > img {
            position: relative;
            margin: 0;
            top: 50%;
        }

.border-mine {
    border: 3px solid black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

hr.new1 {
    border-top: 3px solid black;
}

.featured-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.featured-flex > div {
    position: relative;
    width: 200px;
    margin: 3.3%;
    height: 200px;
}

.search-table {
    position: relative;
    width:100%;
    padding-bottom: 15px;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

td > select, input {
    margin-left:15px;
    margin-right:5px;
}

.bold {
    font-weight: bold;
}

.results-table {
    width: 100%;
    text-wrap:normal;
    font-size: 1em;
}

.results > div {
    margin-bottom: 15px;
}

.results-table > tr {
    width: 100%;
}

.results-table > tr > td {
    width: 14%;
}

.results-table img {
    position:relative;
    width: 150px;
    height: auto;
}

td {
    vertical-align: top;
}

#specials-container  img {
    position: relative;
    width: 150px;
    height: auto;
}

#specials-container > div {
    margin-bottom: 15px;
}

.contact-table td {
    padding: 5px;
}

.contact-table textarea {
    height: 200px;
}

.contact-table {
    width: 200%;
}

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.contact-flex > div {
    margin-right: 15px;
    width: 40%;
}

.contact-flex img {
    width: auto;
    height: 400px;
}

#users  td {
    border-right: 3px solid black;
}