.menu-container {
    /* width: 1000px;
    height: 800px; */
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header > hr {
    border-top: 3px solid black;
}

.menu-options-container {
    height: 80vh;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.menu-selections {
    /* width: 250px;
    height: 200px; */
    width: 25%;
    height: 22%;
    border: 3px solid black;
    margin: 1.7% 4%;
    font-size: 1.2vw;
}

.menu-options {
    /* width: 400px;
    height: 250px; */
    width: 90%;
    height: 25%;
    /* border: 3px dotted black; */
    margin: 8%;
}

.item-id {
    margin-top: 0px;
    text-align: left;
}


.menu-options > div {
    width: 80%;
    height: 40%;
    margin: auto;
}

#middle, #bottom {
    border-top: 3px solid black;
    /* border-bottom: 3px solid black; */
}

header {
    text-align: center;
}

.money-block, .business-block, .change-block, .menu-options > button {
    font-size: 1.2vw;
    margin: auto;
    text-align: center;
}

input {
    text-align: center;
    margin: auto;
  }

#coins {
    margin: auto;
}

#coins > button {
    font-size: .9vw;
    width: 40%;
    height: 40%;
}

/* #coins {
    width: 90%;
    height: 25%;
    margin: 8%;
} */