@model Exercises.Models.Data.State
@{
    ViewBag.Title = "EditState";
}

<h2>EditState</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="text" name="StateName" value="" />
        <input type="text" name="StateAbbreviation" value="@Model.StateAbbreviation" readonly/>
        @Html.ActionLink("Submit", "EditState", "Admin")
    </form>
